<nav class="menu">
  <ul>
    <a routerLink="transacoes">
      <li><i class="material-icons"> receipt_long </i>Transacões</li>
    </a>
    <a routerLink="subcatetorias">
      <li><i class="material-icons"> style </i>Subcategoria</li>
    </a>
    <a routerLink="categorias">
      <li><i class="material-icons"> sell </i>Categoria</li>
    </a>
    <a routerLink="contas">
      <li><i class="material-icons"> wallet </i> Conta</li>
    </a>
    <a routerLink="fornecedores">
      <li><i class="material-icons"> handshake </i> Fornecedor</li>
    </a>
  </ul>
</nav>
