.menu {
    width: 20vw;
    height: 100vh;
    box-shadow: 0 0 10px var(--primary-color);
}

ul {
    height: 100vh;
    background-color: var(--primary-color);
}

li {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 7%;
    list-style: none;
    font-family: var(--default-font);
    color: var(--default-font-color);
    font-weight: 600;
    transition: 100ms;
}

li > i {
    margin-right: 7%;
}

li:hover {
    border-left: 5px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 0 0 1px;
}